<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
    {% comment %} 
    {# 表单提交 #}
    <form action="" method="post"> 
        {% csrf_token %}
        用户名：<input type="text" name="username" /> <br/>
        密码：<input type="text" name="password" /> <br/>
        <input type="submit"/>
    </form> 
    {% endcomment %}

    {# ajax提交 #}
    <form action="" method="post" id="Form"> 
        {% csrf_token %}
        用户名：<input type="text" name="username" /> <br/>
        密码：<input type="text" name="password" /> <br/>
        <input type="button" id='but' value="注册"/>
    </form>
    
</body>
<script>
    $('#but').click(()=>{
        //csrfmiddlewaretoken=$("[name='csrfmiddlewaretoken']").val()
        //username=$("[name='username']").val()
        //password=$("[name='password']").val()
        //console.log(csrfmiddlewaretoken,username,password)
        $.ajax({
           url:"", //你的路由地址
           type:"post",
           dataType:"json",
           data:$('#Form').serialize(),
           //data:{
            //'csrfmiddlewaretoken':csrfmiddlewaretoken,//请求携带token
            //'username':username,
            //'password':password
            //},
           timeout:30000,
           success:function(data){
               console.log(data)
           },
           error:function(err){
            console.log(err);
          }
        });
       
    })
</script>
</html>